{% extends 'base.html' %}
{% block content %}
<div class="tabs">
    <button onclick="showTab('addTab')">ADD TASKS</button>
    <button onclick="showTab('listTab')">LIST TASKS</button>
</div>
<div id="addTab" class="tab-content">
    <h2>ADD TASKS</h2>
    <form id="addForm" action="/add" method="post">
        <label for="taskInput"></label>
            <input type="text" name="task" id="taskInput" placeholder="Enter task" required>
            <button type="submit">ADD</button>
    </form>
</div>
<div id="listTab" class="tab-content">
    <h2>LIST TASKS</h2>
    {% for task in tasks %}
        {% if task.completed %}
            <ul id="taskList-completed">
                <li class="task-completed">{{ task.text }}</li>
            </ul>
        {% else %}
            <ul id="taskList">
                <li class="task">{{ task.text }}</li>
            </ul>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
