{% extends 'base.html' %}
{% block content %}
<div id="taskList" class="tab-content">
    <h2>LIST TODOS</h2>
    {% for todo in todos %}
    <div class="border">
        {% if todo.completed %}
        <div class="task task-completed"
             onclick="toggleTodo('{{ todo.id }}', '{{ todo.title }}', '{{ todo.completed }}', '{{ todo.tag }}')">
            [{{ todo.tag }}] {{ todo.title }}
        </div>
        {% else %}
        <div class="task"
             onclick="toggleTodo('{{ todo.id }}', '{{ todo.title }}', '{{ todo.completed }}', '{{ todo.tag }}')">
            [{{ todo.tag }}] {{ todo.title }}
        </div>
        {% endif %}
        <div>
            <form action="/edit/{{ todo.id }}" method="get">
                <button class="edit-button">EDIT</button>
            </form>
            <form action="/delete/{{ todo.id }}" method="get">
                <button class="delete-button">DELETE</button>
            </form>
        </div>
    </div>
    {% endfor %}

    <div class="navigation">
        <form action="/list" method="get">
            <button class="button" name="page" type="submit" value="{{ page - 1 }}" {% if page == 0 %}disabled{% endif %}>PREV</button>
            <button class="button" name="page" type="submit" value="{{ page + 1 }}" {% if page == total_pages - 1 %}disabled{% endif %}>NEXT</button>
        </form>
    </div>
</div>
<script src="{{ url_for('web', path='js/script.js') }}"></script>
{% endblock %}