{% extends 'base.html' %}
{% block content %}
<div id="taskList" class="tab-content">
    <h2>LIST TASKS</h2>
    {% for task in tasks %}
    {% if task.completed %}
    <div class="border">
        <div class="task-completed" onclick="toggleTask()">
            {{ task.text }}
        </div>
        <div>
            <form action="/edit/{{ task.id }}" method="get">
                <button class="edit-button">EDIT</button>
            </form>
            <form action="/delete/{{ task.id }}" method="get">
                <button class="delete-button">DELETE</button>
            </form>
        </div>
    </div>
    {% else %}
    <div class="border">
        <div class="task" onclick="toggleTask()">
            {{ task.text }}
        </div>
        <div>
            <form action="/edit/{{ task.id }}" method="get">
                <button class="edit-button">EDIT</button>
            </form>
            <form action="/delete/{{ task.id }}" method="get">
                <button class="delete-button">DELETE</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}