{% extends 'base.html' %}
{% block content %}
<div id="taskList" class="tab-content">
    <h2>LIST TASKS</h2>
    {% for task in tasks %}
    <div class="border">
        {% if task.completed %}
        <div class="task task-completed" onclick="toggleTask('{{ task.id }}', '{{ task.completed }}')">
            {{ task.text }}
        </div>
        {% else %}
        <div class="task" onclick="toggleTask('{{ task.id }}', '{{ task.completed }}')">
            {{ task.text }}
        </div>
        {% endif %}
        <div>
            <form action="/edit/{{ task.id }}" method="get">
                <button class="edit-button">EDIT</button>
            </form>
            <form action="/delete/{{ task.id }}" method="get">
                <button class="delete-button">DELETE</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
